@import "../../index.scss";
.pageHeader__bottom {
  display: none;
}

.pageHeader {
  min-height: 40px;
  background: white;
  .pageHeader__top {
    float: right;
    margin: 0 5vw;
    color: #fd8300;
    height: 25px;
    line-height: 25px;
    div {
      display: inline-block;
      color: gray;
      font-size: 0.8em;
      font-weight: 500;
      margin-left: 15px;
    }
    i {
      display: inline-block;
      font-size: 1.1em;
      color: #fd8300;
      margin-right: 3px;
    }
  }
}
@media screen and(min-width:768px) {
  .pageHeader__bottom {
    z-index: +1;
    position: relative;
    display: flex;
    padding: 0 5vw;
    width: 100vw;
    line-height: 4rem;
    vertical-align: middle;
    background: $red1;
    border-bottom: 3px solid white;
    align-items: center;
    .logo {
      flex: 1;
    }
    .pageHeader__item {
      font-size: 1rem;
      text-decoration: none;
      flex: 1;
      color: white;
      text-align: center;
      margin: 0;
      &:hover {
        background: white;
        color: $blue1;
      }
    }
  }
  .pageHeader__bottom::after {
    z-index: 0;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    border-bottom: 5px solid $blue1;
    content: "";
  }
}

@media screen and(min-width:992px) {
  .pageHeader__item {
    font-size: 1.2rem;
  }
}
