@import "../../index.scss";
.pageHeader__main {
  display: none;
}

.pageHeader {
  min-height: 40px;
  background: white;
}
@media screen and(min-width:768px) {
  .pageHeader__main {
    z-index: +1;
    position: relative;
    display: flex;
    padding: 0 5%;
    line-height: 4rem;
    vertical-align: middle;
    background: $red1;
    border-bottom: 3px solid white;
    align-items: center;
    .logo {
      flex: 1;
      img {
        height: 3rem;
      }
    }
    .pageHeader__item {
      position: relative;
      font-size: 1rem;
      text-decoration: none;
      flex: 1;
      color: white;
      text-align: center;
      margin: 0;
      z-index: 1;
      transition: color 300ms ease-in-out;
      &:hover {
        color: $blue1;
      }
      &.active {
        background: white;
        color: $blue1;
        font-weight: 700;
      }
    }
    .pageHeader__item::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: white;
      z-index: -1;
      transition: transform 300ms ease-in-out;
      transform: scaleY(0);
      transform-origin: bottom;
    }

    .pageHeader__item:hover::before,
    .pageHeader__item:focus::before {
      border-top: 5px solid $blue1;
      transform: scaleY(1);
    }
  }

  .pageHeader__main::before {
    position: absolute;
    content: "";
    left: 0;
    right: 0;
    bottom: 0;
    border-bottom: 5px solid $blue1;
    z-index: 0;
  }
}

@media screen and(min-width:992px) {
  .pageHeader__item {
    font-size: 1.2rem;
  }
}
