@import "../../index.scss";

.articalCard {
  display: table-cell;
  text-align: center;
  position: relative;
  background: rgba(12, 63, 118, 0.95);
  color: white;
  border-radius: 10px;
  padding: 20px 5px;
  box-shadow: 2px 3px 10px white;
  .articalCard__title {
    width: 60%;
    padding: 5px 10px;
    border-radius: 5px;
    text-align: center;
    background: white;
    color: $blue1;
    position: absolute;
    top: -8%;
    left: 50%;
    transform: translateX(-50%);
  }
}
.articalCard > div > p {
  font-size: 0.9rem;
  text-align: left;
  padding: 5px 10px;
  margin: 0;
}
.articalCard > img {
  flex: 1;
  margin: 10px auto;
  object-fit: cover;
  border-radius: 15px;
  border: 2px solid white;
  position: relative;
}
.articalCard.red {
  background: $red1;
  box-shadow: 3px 5px 10px $blue1;
}
.articalCard.blue {
  background: $blue1;
  box-shadow: 3px 5px 10px $red1;
}
@media screen and(max-width:768px) {
  .articalCard {
    display: flex;
    margin: 10px 10px;
  }
  .articalCard > img {
    max-width: 150px;
  }
  .articalCard > div {
    flex: 1;
    display: flex;
    flex-direction: column;
  }
}
@media screen and(min-width:769px) {
  .articalCard > img {
    position: relative;
    margin: 10px auto;
    width: 90%;
    object-fit: cover;
    border-radius: 15px;
    border: 2px solid white;
  }
}
