@import "../../index.scss";

.header {
  width: 90%;
  margin: 0 auto;
  background: white;
  padding-top: 15px;
  .header-line1 {
    display: flex;
    font-size: 30px;
    // width: 100%;
    height: 50px;
    line-height: 50px;
    vertical-align: middle;
    margin: 0 15px;
    background: $blue1;
    color: white;
    // color: black;
    // animation: prva-animacija 5s alternate 3 forwards;
    i {
      padding: 10px;
    }
  }
  .header-line2 {
    // display: inline-block;
    margin: 0 15px;
    display: flex;
    text-align: center;
    text-transform: uppercase;
    border-bottom: 2px solid grey;
    height: 48px;
    line-height: 48px;
    vertical-align: middle;
  }
}
@keyframes prva-animacija {
  from {
    width: 0;
    margin: 0 15px;
    background: #ffffff;
  }
  to {
    margin: 0 15px;
    // width: 100%;

    background: #173463;
  }
}
