@import "../../index.scss";

.footer {
  display: flex;
  flex-direction: column;
  width: 100%;
  background: rgb(53, 53, 53);
  font-size: 1.1rem;
  font-weight: 600;
  color: white;
  padding: 10px 20px;
  img {
    width: 4rem;
    height: auto;
    padding: 4px 0;
  }
}
.footer > div:last-child {
  padding: 1rem 0;
  font-style: italic;
  text-align: center;
  opacity: 0.3;
}

@media screen and(min-width:769px) {
  .footer {
    flex-direction: column;
    .footer__links {
      margin: 0 auto;
      width: 90%;
      display: flex;
      align-items: center;
      justify-content: space-around;
      .footer__link {
        color: white;
        font-weight: 400;
        text-decoration: none;
        opacity: 0.8;
        &:hover {
          opacity: 1;
        }
      }
    }
    .footer__info {
      display: flex;
      justify-content: space-around;
      padding: 1rem 0;
      font-style: italic;
      opacity: 0.5;
      i {
        color: red;
        margin: 0 0.5rem;
      }
    }
  }
}
