@import "../../index.scss";

.searchDiv {
  width: 90%;
  margin: 0 auto;
  border-radius: 15px 15px 0 0;
  background: white;

  .procceses {
    display: flex;
    margin-top: 10px;
    padding: 10px;
    text-align: center;
    text-transform: uppercase;
    font-size: 1.2rem;
    height: 3.4rem;
    line-height: 2.2rem;
    vertical-align: middle;
    border-bottom: 1px solid gray;
    .procces-select {
      display: flex;
      .procces-symbol {
        flex: 1;
        margin-right: 10px;
        line-height: 35px;
        width: 35px;
        height: 35px;
        border-radius: 50%;
        background: $orange2;
        color: white;
      }
      p {
        margin-right: 30px;
      }
    }
  }
  .search {
    margin: 15px 10px;

    .search-options {
      display: flex;
      margin-top: 5px;
      align-items: center;
      .radio {
        margin-right: 3px;
        border: 1px solid rgb(212, 212, 212);
        border-radius: 50%;
        background: rgb(226, 226, 226);
        width: 20px;
        height: 20px;
      }
      span {
        margin-right: 15px;
      }
      i {
        font-size: 1.3em;
        margin-right: 3px;
        color: #ee8719;
      }
      .pcl-btn {
        border-radius: 4px;
        padding: 8px 15px;
        background: #ee8719;
        color: white;
        cursor: pointer;
        i {
          margin-right: 5px;
          font-size: 1.1em;
          color: white;
        }
      }
    }
    .search-routes {
      display: flex;

      text-align: center;
      line-height: 60px;
      margin: 5px 0;
      vertical-align: middle;
      font-size: 18px;
      .search-departure {
        flex: 1;
      }
      i {
        flex: 0.5;
        line-height: 60px;
        font-size: 18px;
      }
      .search-arrival {
        flex: 1;
      }
      .search-dateD {
        flex: 0.8;
      }
      input {
        border: none;
        &:disabled {
          color: rgb(212, 212, 212);
          background: white;
          cursor: not-allowed;
        }
      }
      .search-dateA {
        flex: 0.8;
      }
      .search-list {
        flex: 1;
        height: 100%;
        button {
          border: none;
          width: 90%;
          border-radius: 25px;
        }
      }
    }
  }
}
.searchDiv.small {
  width: 90vw;
  max-width: 350px;
  margin: 10px auto;
  padding: 5px;
  border-radius: 15px;

  .procceses {
    display: none;
  }
  .search-options {
    margin-top: 30px;
    justify-content: center;
  }
  .pcl-btn {
    display: none;
  }
  .search-routes {
    position: relative;
    flex-direction: column;
    input {
      height: 60px;
      border-bottom: 1px solid grey;
    }
    .changeDirection {
      font-size: 1.2rem;
      background-color: white;
      position: absolute;
      top: inherit;
      margin-top: 30px;
      left: 50%;
      margin-right: 10px;
      transform: translateX(-50%);
      padding: 0 10px;
      border-radius: 50%;
    }
  }
}
@keyframes treca-animacija {
  from {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(30deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
