@import "../../index.scss";
.warningCard {
  padding: 0 0.6rem;
  position: relative;
  background: rgb(71, 71, 71);
  color: white;
}
.warningCard.color {
  position: relative;
  display: flex;
  margin: 0 auto;
  background: rgba(255, 255, 255, 0.9);

  span {
    color: rgba(169, 68, 66, 0.8);
    width: 100%;
    font-size: 0.8rem;
    padding: 1rem 0.6rem;
    margin: 1rem;
    background: #f2dede;
    border: 1px solid #ebccd1;
    border-radius: 0.25rem;
  }
}

@media screen and(min-width:768px) {
  .warningCard.color {
    width: 90%;
    span {
      font-size: 1rem;
    }
  }
}
