@import "../../index.scss";

.warningCard {
  display: flex;
  width: 90%;
  margin: 0 auto;
  background: white;

  span {
    color: #a94442;
    width: 100%;
    padding: 20px;
    margin: 15px;
    background: #f2dede;
    border: 1px solid #ebccd1;
    border-radius: 4px;
  }
}
