@import "../../index.scss";

.aboutUs {
  height: 150vh;
  background: white;
  // background: url("../../stanica.jpg");
  // background-size: cover;
  // background-position: 100% 100%;
  // background-repeat: no-repeat;
  // overflow: hidden;
  img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    // z-index: +1;
    // opacity: 0;
  }
}
.aboutUs > p {
  font-size: 1rem;
  width: 80%;
  margin: 30px auto;
  padding: 10px 30px;
  border: 2px solid $blue1;
  border-radius: 30px;
  height: 180px;
  line-height: 25px;
  background: rgba(255, 255, 255, 0.712);
  text-align: justify;
  z-index: +999;
}
.aboutUS__details {
  width: 90%;
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  .aboutUS__details {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 1rem;
  }
}
@media screen and (min-width: 992px) {
  .aboutUS__details {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (min-width: 1140px) {
  .aboutUS__details {
    grid-template-columns: repeat(4, 1fr);
    padding: 0 0;
  }
}
