body {
  background: rgba(201, 201, 201, 0.856);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100%;
  overflow-x: hidden;
  margin: 0 auto;
  display: flex;
}
html {
  scroll-behavior: smooth;
  width: 100vw;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
*:focus {
  outline: none;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
$red1: rgb(198, 54, 60);
$red2: rgb(161, 45, 46);
$blue1: rgb(12, 64, 118);
$white: rgb(255, 255, 255);
$orange1: rgb(255, 199, 44);
$orange2: #ee8719;

@mixin transform($property) {
  -webkit-transform: $property;
  -ms-transform: $property;
  transform: $property;
}
